.container-fluid {
    height: 100vh;
    width: 100vw;

    padding: 0;
}

.row {
    height: 20vh;
}


.home, .about, .contact {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


